{{ $disableImageOptimization := .Site.Params.disableImageOptimization | default false }}



<br>
<article class="max-w-full prose dark:prose-invert sm:px-14 md:px-24 lg:px-32 px-6">
    <div class="relative">
        <div class="absolute inset-x-0 bottom-0 h-1/2 bg-gray-100"></div>
        <div class="mx-auto max-w-7xl p-0">
            <div class="relative sm:overflow-hidden">
                <div class="fixed inset-x-0 top-0" style="z-index:-10">
                    {{ $homepageImage := "" }}
                    {{ with .Site.Params.defaultBackgroundImage }}
                        {{ if or (strings.HasPrefix . "http:") (strings.HasPrefix . "https:") }}
                            {{ $homepageImage = resources.GetRemote . }}
                        {{ else }}
                            {{ $homepageImage = resources.Get . }}
                        {{ end }}
                    {{ end }}
                    {{ with .Site.Params.homepage.homepageImage }}
                        {{ if or (strings.HasPrefix . "http:") (strings.HasPrefix . "https:") }}
                            {{ $homepageImage = resources.GetRemote . }}
                        {{ else }}
                            {{ $homepageImage = resources.Get . }}
                        {{ end }}
                    {{ end }}
                    {{ if $homepageImage }}
                    <img class="w-full h-[1000px] object-cover m-0 nozoom" src="{{ $homepageImage.RelPermalink }}" role="presentation">
                    <div
                        class="absolute inset-0 h-[1000px] bg-gradient-to-t from-neutral dark:from-neutral-800 to-transparent mix-blend-normal">
                    </div>
                    <div
                        class="opacity-60 absolute inset-0 h-[1000px] bg-gradient-to-t from-neutral dark:from-neutral-800 to-neutral-100 dark:to-neutral-800 mix-blend-normal">
                    </div>
                    {{ end }}
                </div>
                <style>
                    .style1 {
                        width: 95%; /* 例如将宽度设置为原来的 95% */
                        margin: 20px auto; /* 居中并增加上下边距 */
                        padding: 20px; /* 添加内边距，使内容不会紧贴边框 */
                        display: flex;
                        flex-direction: row; /* 默认是左右布局 */
                        justify-content: space-between;
                        transition: all 0.3s ease;
                    }
                
                    .left-column, .right-column {
                        flex: 1;
                    }
                
                    .right-column {
                        flex: 1.5;
                        padding-left: 2rem;
                    }
                
                    @media (max-width: 1024px) {
                        .style1 {
                            flex-direction: column; /* 当屏幕宽度小于 1024px 时，改为上下布局 */
                            padding-left: 0;
                            padding-right: 0;
                        }
                
                        .left-column, .right-column {
                            width: 95%;
                        }
                
                        .left-column img {
                            width: 120px;
                            height: 120px;
                        }
                    }
                </style>
                
                <div class="relative flex flex-row style1 items-start justify-between px-6 py-6 rounded-2xl transition-colors duration-500 thumbnailshadow">
                    <!-- Left column: Existing profile information -->
                    <div class="left-column flex flex-col items-center justify-center text-center">
                        {{ with .Site.Author.image }}
                            {{ $authorImage := "" }}
                            {{ if or (strings.HasPrefix . "http:") (strings.HasPrefix . "https:") }}
                                {{ $authorImage = resources.GetRemote . }}
                            {{ else }}
                                {{ $authorImage = resources.Get . }}
                            {{ end }}
                            {{ if $authorImage }}
                                {{ if not $disableImageOptimization }}
                                    {{ $authorImage = $authorImage.Fill "288x288" }}
                                {{ end }}
                                <img class="mb-2 rounded-full h-36 w-36" width="144" height="144"
                                    alt="{{ $.Site.Author.name | default "Author" }}" src="{{ $authorImage.RelPermalink }}" />
                            {{ end }}
                        {{ end }}
                        <h1 class="mb-2 text-4xl font-extrabold text-gray-800 dark:text-gray-100">
                            {{ .Site.Author.name | default .Site.Title }}
                        </h1>
                        {{ with .Site.Author.headline }}
                            <h2 class="mt-0 mb-0 text-xl text-gray-700 dark:text-gray-300">
                                {{ . | markdownify }}
                            </h2>
                        {{ end }}
                        <div class="mt-3 mb-10 text-2xl">
                            {{ with .Site.Author.links }}
                            <div class="flex flex-wrap justify-center">
                                {{ range $links := . }}
                                {{ range $name, $url := $links }}
                                <a class="px-1 hover:text-blue-600 dark:hover:text-blue-400 text-blue-800 dark:text-blue-300" href="{{ $url }}" target="_blank"
                                    aria-label="{{ $name | title }}" rel="me noopener noreferrer">{{ partial
                                    "icon.html" $name }}</a>
                                {{ end }}
                                {{ end }}
                            </div>
                            {{ end }}
                        </div>
                    </div>
                    
                    <!-- Right column: New introduction text -->
                    <div class="right-column flex flex-col justify-center">
                        {{ if not .Site.Author.language_en }}
                            <h2 class="text-2xl font-bold mb-4 text-gray-800 dark:text-gray-100">欢迎来到智班！</h2>
                            <p class="text-lg text-gray-700 dark:text-gray-300">
                                智能科学与技术专业实验班（简称“智班”）由北京大学智能学院与信息科学技术学院联合创办，承载我国第一个智能科学与技术专业的历史积淀，注重数理厚基础、理工强交叉、课程规划系统化、师资力量国际化，致力于为中国培养智能科学新一代领军人才。详见<a href="/posts">介绍</a>页面。
                            </p>
                            <!-- <p class="text-lg text-gray-700 dark:text-gray-300">
                                智班以智能科学为核心的知识体系，课程设置涵盖视觉、语言、认知、机器人、机器学习、多智能体等核心领域；倡导以前沿研究为导向的科学探索，提升科学素养；打造科研实践课程，培养科研能力；提供学生国际访学、与大师同行，以及同学间相互合作、教学相长的环境，培养学生开阔视野、协作精神、理论高度与实践能力。
                            </p>
                            <p class="text-lg text-gray-700 dark:text-gray-300">
                                自班型成立以来，智班同学自发组织和开展了一系列拓展活动，包括<a href="../tags/%E6%99%BA%E8%AF%BB/">智读会</a>、<a href="../tags/zhi-talk/">ZhiTong Talk</a>、<a href="../tags/%E5%85%B6%E4%BB%96/">智企互通等</a>，创造开放的交流平台与前沿的学习机会，在互动互助中一同成长。我们始终秉持着兼容并包的态度，期待与各界学者的交流探讨。如有兴趣成为讲者或加入赞助，欢迎通过邮件<a href="mailto:zhiclass.ai@gmail.com">联系我们</a>！
                            </p> -->
                        {{ end }}
                        {{ if .Site.Author.language_en }}
                            <h2 class="text-2xl font-bold mb-4 text-gray-800 dark:text-gray-100">Welcome to Zhi-Class</h2>
                            <p class="text-lg text-gray-700 dark:text-gray-300">
                                The Experimental Class in Intelligence Science and Technology, commonly known as "Zhi-Class," is a collaborative initiative by the School of Intelligence Science and Technology and the School of Electronics Engineering and Computer Science at Peking University. Building on the legacy of China's first educational program in Intelligence Science and Technology, Zhi-Class emphasizes a strong foundation in mathematics and physics, deep interdisciplinary integration of science and engineering, systematic curriculum planning, and internationally renowned faculty. The program is dedicated to cultivating the next generation of leaders in AI for China. For detailed introduction and contact information, please visit the <a href="/posts">Intro</a> page.
                            </p>
                            <!-- <p class="text-lg text-gray-700 dark:text-gray-300">
                                Zhi-Class offers a comprehensive knowledge system centered on AI, with a curriculum that covers key areas such as computer vision, natural language processing, cognitive science, robotics, machine learning, and multi-agent systems. The program advocates for science exploration guided by cutting-edge research, aiming to enhance students' scientific literacy. It also provides research-oriented courses to develop students' research capabilities, along with opportunities for international exchange, collaboration with leading experts, and peer-to-peer learning, fostering broad perspectives, teamwork, theoretical rigor, and practical skills.
                            </p>
                            <p class="text-lg text-gray-700 dark:text-gray-300">
                                Since its inception, Zhi-Class students have actively organized and participated in a variety of enrichment activities, including the<a href="./tags/%E6%99%BA%E8%AF%BB/">Zhi Reading Club</a>、<a href="./tags/zhi-talk/">ZhiTong Talk</a>、<a href="./tags/%E5%85%B6%E4%BB%96/">Zhi-Enterprise Bridging Program</a>. These initiatives create open platforms for communication and offer advanced learning opportunities, allowing students to grow together through interaction and mutual support. We remain open and inclusive, and warmly welcome discussions and collaborations with scholars from all fields. If you are interested in becoming a speaker or a sponsor, please feel free to contact us via <a href="mailto:zhiclass.ai@gmail.com">email</a>.
                            </p> -->
                        {{ end }}
                    </div>
                </div>
                
                
                <br>

                <div class="relative px-6 py-6 flex flex-col">
                <!-- <span style="font-family: Times New Roman, Times, serif;"> -->
                <span>
                    <section class="max-w-7xl text-xl prose dark:prose-invert">{{ .Content }}</section>
                </span>
                </div>
            </div>
        </div>
    </div>
</article>

<section>
    {{ partial "recent-articles/main.html" . }}
</section>      
{{ if .Site.Params.homepage.layoutBackgroundBlur | default false }}
<div id="background-blur" class="fixed opacity-0 inset-x-0 top-0 h-full single_hero_background nozoom backdrop-blur-2xl"></div>
<script>
    window.addEventListener('scroll', function (e) {
        var scroll = window.pageYOffset || document.documentElement.scrollTop || document.body.scrollTop || 0;
        var background_blur = document.getElementById('background-blur');
        background_blur.style.opacity = (scroll / 300)
    });
</script>

{{ end }}
